.poster {
  width: 36vh;
  height: 22vh;
  padding: 1vh;
}
.title {
  font-weight: 500;
  font-size: larger;
  padding-left: 1.5rem;
}
.row {
  color: white;
}
.posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 1rem;
  padding-top: 1rem;
}

/* from chat strting here */
.poster {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  /* position: relative; */
}

.poster:hover {
  transform: scale(1.08);
}

/* Gradient overlay */
.poster::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.poster:hover::after {
  opacity: 1;
}
/* to here from chat */

/* hide scrollbar for chrome,safari,opera */
.posters::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Firefox */
.posters {
  scrollbar-width: none;
}
/* Hide scrollbar for IE, Edge */
.posters {
  -ms-overflow-style: none;
}
.largePoster {
  height: 35vh;
  width: 28vh;
}
