.title {
  font-weight: 500;
  font-size: larger;
  padding-left: 1.5rem;
}
.row {
  color: white;
}
.posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 1rem;
  padding-top: 1rem;
}
.poster {
  position: relative;
  width: 30vh;
  height: 22vh;
  padding: 1vh;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.poster:hover {
  transform: scale(1.08);
}

/* hide scrollbar for chrome,safari,opera */
.posters::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Firefox */
.posters {
  scrollbar-width: none;
}
/* Hide scrollbar for IE, Edge */
.posters {
  -ms-overflow-style: none;
}
.largePoster {
  height: 35vh;
  /* width: 28vh; */
  width: auto;
}
