.links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.leftNav li {
  /* white-space: nowrap; */
  /* flex-shrink: 0; */
}
.rightNavContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.navbar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6vh;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  color: white;

}

.logo {
  width: 5rem;
}
